.idea
.direnv
compile_commands.json
result
*.md
**/.cache

**/.exercism
c/**/test-framework
c/**/makefile
c/**/Makefile
c/**/README.md
c/**/*.s
c/**/test_*.c

java/**/*.css
java/**/*.gradle
java/**/*.lock
java/**/*.properties
java/**/*.html
java/**/*.bin
java/**/*.probe
java/**/gradlew
java/**/*.bat
java/**/*.idx
java/**/*.class
java/**/*.jar
java/**/*.js
java/**/*.xml

# tmp
*.java

x86-64-assembly/**/*.c
x86-64-assembly/**/.gitignore
x86-64-assembly/**/Makefile
x86-64-assembly/**/vendor
